body {
  background-color: white;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* Top-level grid containing elements for the board, log, action buttons, etc. */

.container {
  display: grid;
  grid-template-columns: 1fr 82vmin 1fr;
  grid-template-rows: 41vmin 41vmin 2fr 1fr;
  border: 1px solid black;

  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 20px;

  width: 100vw;
  height: 100vh;
}
.grid-element {
  border: 5px solid black;
}
.enemy-info {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.player-info {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.log {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}
.actions {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}
.prompt {
  grid-column: 1 / 4;
  grid-row: 4 / 5;
}
/*
The board is a flexbox containing COLUMN columns.
Each column contains ROW rows.
*/

.board {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  aspect-ratio: 1;

  background-color: gray;
  display: flex;
  flex-direction: row;
  padding: 2% 2%;
  position: relative;
  border: 1px solid gray;
}

.column {
  box-sizing: border-box;
  width: 20%; /* TODO assumes 5 columns */
}

.cell {
  box-sizing: border-box;
  height: 20%; /* TODO assumes 5 rows */
  border: 1px solid gray;
  background-color: white;
}
