body {
  background-color: white;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* Top-level grid containing elements for the board, log, action buttons, etc. */

.container {
  display: grid;
  grid-template-columns: 1fr 82vmin 1fr;
  grid-template-rows: 82vmin 2fr 1fr;
  border: 1px solid black;

  font-family: 'Courier New';
  font-weight: normal;
  font-size: 20px;
  text-align: center;

  width: 100vw;
  height: 100vh;
}

.grid-element {
  border: 5px solid black;
}

.title-box {
  position: relative;
  top: -20%;
  display: inline;
  font-size: 40px;
  background-color: white;
}

.player-info {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  font-size: 400%;
  padding: 2% 2%;
}
.log {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
.actions {
  grid-column: 1 / 4;
  grid-row: 2 / 3;

  display: flex;
  flex-direction: row;
  font-size: 300%;
  align-items: center;
  justify-content: space-evenly;

/*
  position: relative;
  padding: 2% 2%;*/
}
.prompt {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}
/*
The board is a flexbox with cells in columns.  The sizing assumes a 5x5 board.
*/

.board {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  aspect-ratio: 1;

  background-color: gray;
  display: flex;
  flex-direction: row;
  padding: 2% 2%;
  position: relative;
  border: 1px solid gray;
}

.column {
  box-sizing: border-box;
  width: 20%;
}

.cell {
  box-sizing: border-box;
  height: 20%;
  border: 1px solid gray;
  background-color: white;

  line-height: 14vmin;
  font-size: 14vmin;
}

.north-player {
  color: red
}

.south-player {
  color: blue
}
