body {
  background-color: white;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
  position: fixed;
}

/* top-level grid containing the board, log, action panel, player info, etc. */
.container {
  display: grid;
  grid-template-columns: 1fr 82vmin 1fr;
  grid-template-rows: 82vmin 2fr 1fr;
  border: 1px solid black;
  cursor: default;

  font-family: 'Courier New';
  font-weight: normal;
  font-size: 20px;
  text-align: center;

  width: 100vw;
  height: 100vh;
}
.grid-element {
  border: 5px solid black;
}

/* the player-info box displays coins and tiles in hand */
.player-info {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 2% 2%;

  line-height: 10vmin;
  font-size: 10vmin;
}
.hand-tile {
  font-weight: light;
}
.hand-tile.highlight {
  color: black;
  font-weight: bold;
}

/*
the log is a list of text notes on the right side of the screen
explaining what happened in previous turns
*/
.log {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  overflow-y:auto;

  line-height: 2vmin;
  font-size: 2vmin;
  cursor: text;
}

/*
the action panel has buttons for move, smite, the tiles, and the responses
currently available actions are highlighted
*/
.actions {
  grid-column: 1 / 4;
  grid-row: 2 / 3;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  vertical-align: middle;

  color: grey;
  font-weight: light;
}
.tile-button {
  line-height: 7vmin;
  font-size: 7vmin;
}
.outlined-button {
  font-size: 200%;
  border-radius: 8%;
  border: 1px solid grey;
  width: 5vmin;
  line-height: 6.5vmin;
  font-size: 5vmin;
  vertical-align: middle;
  /* TODO the emoji aren't quite vertically centered in the box */
}
.action-separator {
  border-left: 1px solid;
  height: 100%;
}
.tile-button.highlight {
  color: black;
  font-weight: bold;
}
.outlined-button.highlight {
  border-width: thick;
  border-color: black;
  color: black;
}
.chosen-action {
  border-radius: 100%;
  border: 1px solid;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  line-height: 2vmin;
  font-size: 2vmin;
  font-weight: normal;

  background-color: black;
  color: white;

  visibility: hidden;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;

  width: 20vmin;
  bottom: 100%;
  left: 50%;
  margin-left: -10vmin;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/*
the prompt is a text string at the bottom of the screen
explaining what the player should do next
*/
.prompt {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  font-size: 3vmin;
  line-height: 4vmin;
  font-style: italic;

  vertical-align: middle;
  overflow-x:auto;
}

/* the board is a 5x5 display with the tiles on board */
.board {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  aspect-ratio: 1;

  background-color: gray;
  display: flex;
  flex-direction: row;
  padding: 2% 2%;
  position: relative;
  border: 1px solid gray;
}
.column {
  box-sizing: border-box;
  width: 20%; /* assumes a 5x5 board */
}
.cell {
  box-sizing: border-box;
  height: 20%; /* assumes a 5x5 board */
  width: 100%;
  border: 1px solid darkgrey;
  background-color: white;
  position: relative;

  line-height: 14vmin;
  font-size: 14vmin;
}
.cell.highlight {
  background-color: lightgray;
}
.cell.special {
  font-size: 7vmin;
  line-height: 7vmin;
}
.specialRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: grey;
}
.board-tile {
  font-weight: light;
}
.board-tile.highlight {
  font-weight: bold;
}
.chosen-start::before {
  position: absolute;
  content: 'O';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.chosen-target::before {
  position: absolute;
  content: 'X';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.north {
  color: red;
}

.south {
  color: blue;
}

.target-north.chosen-target::before {
  color: red;
}

.target-south.chosen-target::before {
  color: blue;
}

.start-north {
  color: red;
}

.start-south {
  color: blue;
}

.highlight {
  cursor: pointer;
}

